*.key
*.pem
*.pprof
.DS_Store
.gemini/
/.claude
/.cursorignore
/.dark-factory.lock
/.dark-factory.log
/.envrc
/.mcp-*
/.mcp-auth
/.mcp.json
/.serena
/.update-logs/
/commit.txt
/data
/ideas
/prompts/log
/specs/log
coverage.html
coverage.out
coverprofile.out
gha-creds-*.json
main
pkg.test
vendor
